doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title HTML basics

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        img(src="/images/logo.png", alt="")
        h1 HTML basic's
        p by peter van der meulen

      section
        h2.bullet HTML
        ul
          li Means: <br><strong>H</strong>yper <strong>T</strong>ext <strong>M</strong>arkup <strong>L</strong>anguage
          li Was invented: <br> between 1980 and 1990
          li By: <br> <strong>Sir Tim Berners-Lee</strong> and <strong>sir Robert Cailliau</strong>

      section
        img(src="/images/boring.gif", alt="")
        h2 Boring!
        h3 Let's build some stuff

      section
        h2 Let's get started
        p Open Atom on your computer
        img(src="/images/atom.png", width="150px" alt="")

      section
        p Open Atom on your computer
        img(src="/images/no-rush.gif", width="80%", alt="")

      section
        h3 Make a new folder on your desktop
        img(src="/images/html-is-baws.png", alt="")

      section
        h3 let's make a new file in Atom
        p save your untitled empty file in atom as: <br> <strong>index.html</strong> in your new folder
        img(src="/images/brogrammer.jpg", width="200px", alt="")

      section
        h3 Write the following text
        pre
          code.language-javascript.
            html
        p <br> And now hit:
        img(src="/images/tab.jpg", width="200px", alt="")

      section
        h3 You now have:
        pre
          code.language-javascript.
            &#x3C;html&#x3E;
              &#x3C;head&#x3E;
                &#x3C;title&#x3E;&#x3C;/title&#x3E;
              &#x3C;/head&#x3E;
              &#x3C;body&#x3E;

              &#x3C;/body&#x3E;
            &#x3C;/html&#x3E;

      section
        h3 You now have
        img(src="/images/exploding-head.gif",  alt="")

      section
        h3 Let's add some fixes
        pre
          code.language-javascript.
            &#x3C;!DOCTYPE html&#x3E;
              &#x3C;html&#x3E;
                &#x3C;head&#x3E;
                  &#x3C;meta name=&#x22;charset&#x22; content=&#x22;utf-8&#x22;&#x3E;
                  &#x3C;title&#x3E;&#x3C;/title&#x3E;
                &#x3C;/head&#x3E;
                &#x3C;body&#x3E;

                &#x3C;/body&#x3E;
              &#x3C;/html&#x3E;
      section
        h3.bullet The head section
        pre
          code.language-javascript.
            &#x3C;head&#x3E;
              &#x3C;meta name=&#x22;charset&#x22; content=&#x22;utf-8&#x22;&#x3E;
              &#x3C;title&#x3E;&#x3C;/title&#x3E;
            &#x3C;/head&#x3E;
        ul
          li Makes the page title
          li Holds most of the styling of a page
          li Holds most of the programming scripts of a page

      section
        h3 Let's make a title
        pre
          code.language-javascript.
            &#x3C;title&#x3E;YoloSw4g&#x3C;/title&#x3E;
        img(src="/images/page-title.png",  alt="")

      section
        h3.bullet The body section
        pre
          code.language-javascript.
            &#x3C;body&#x3E;

            &#x3C;/body&#x3E;
        ul
          li Holds everything that is visible on a page

      section
        h3.bullet Let's make some titles
        pre
          code.language-javascript.
            &#x3C;body&#x3E;
              &#x3C;h1&#x3E;YoloSw4g&#x3C;/h1&#x3E;
              &#x3C;h2&#x3E;other yolo&#x3C;/h2&#x3E;
              &#x3C;h3&#x3E;other sw4g&#x3C;/h3&#x3E;
            &#x3C;/body&#x3E;
        ul
          li H6 is the limit!
      section
        h3 Results
        img(src="/images/headers.png", alt="")

      section
        img(src="/images/high5.gif", alt="")

      section
        h3 Let's add some <span style="color:red;font-size: 70%">&#x3C;</span>p<span style="color:red;font-size: 70%">&#x3E;</span>aragraph text
        pre
          code.language-javascript(style="font-size: 80%").
              ...
                &#x3C;h3&#x3E;other sw4g&#x3C;/h3&#x3E;
                &#x3C;p&#x3E;
                  Hello Bro
                  this is still the same line
                  &#x3C;br&#x3E;
                  break tags make new lines
                  &#x3C;br&#x3E;
                  &#x3C;bold&#x3E;some bold text&#x3C;/bold&#x3E;
                  and some &#x3C;i&#x3E;Italic text&#x3C;/i&#x3E;
                &#x3C;/p&#x3E;

              &#x3C;/body&#x3E;

      section
        h3 You are a true writer now
        img(src="/images/writer.gif", alt="")

      section
        h3 Our code so far
        pre
          code.language-javascript(style="font-size: 70%").
            &#x3C;!DOCTYPE html&#x3E;
            &#x3C;html&#x3E;
              &#x3C;head&#x3E;
                &#x3C;meta name=&#x22;charset&#x22; content=&#x22;utf-8&#x22;&#x3E;
                &#x3C;title&#x3E;YoloSw4g&#x3C;/title&#x3E;
              &#x3C;/head&#x3E;
              &#x3C;body&#x3E;
                &#x3C;h1&#x3E;YoloSw4g&#x3C;/h1&#x3E;
                &#x3C;h2&#x3E;other yolo&#x3C;/h2&#x3E;
                &#x3C;h3&#x3E;other sw4g&#x3C;/h3&#x3E;

                &#x3C;p&#x3E;
                  Hello Bro
                  this is still the same line
                  &#x3C;br&#x3E;
                  break tags make new lines
                  &#x3C;br&#x3E;
                  &#x3C;bold&#x3E;some bold text&#x3C;/bold&#x3E;
                  and some &#x3C;i&#x3E;Italic text&#x3C;/i&#x3E;
                &#x3C;/p&#x3E;
              &#x3C;/body&#x3E;
            &#x3C;/html&#x3E;


      section
        h3 Good job!
        img(src="/images/good-job.gif", alt="")

      section
        h3 We Need Pictures
        img(src="/images/photographer.gif", alt="")

      section
        h3 Let's add a picture
        p Type:
        pre
          code.language-javascript.
            img
        p And hit that [tab]
        pre
          code.language-javascript(style="font-size: 60%").
            ...
              &#x3C;/p&#x3E;

              &#x3C;img src=&#x22;http://i.imgur.com/7drHiqr.gif&#x22; alt=&#x22;Oops the picture is broken&#x22; /&#x3E;
            &#x3C;/body&#x3E;

      section
        h3 Now you have pictures to!
        img(src="/images/happening.gif", alt="")

      section
        h3 Let's make some links
        p type
        pre
          code.language-javascript.
            a
        p And hit that [tab]
        pre
          code.language-javascript(style="font-size: 60%").
            ...
              &#x3C;img src=&#x22;http://i.imgur.com/7drHiqr.gif&#x22; alt=&#x22;Oops the picture is broken&#x22; /&#x3E;
              &#x3C;a href=&#x22;http://www.google.com&#x22;&#x3E;Google&#x3C;/a&#x3E;
              &#x3C;a href=&#x22;http://www.google.com&#x22; target=&#x22;_blank&#x22;&#x3E;Google&#x3C;/a&#x3E;
            &#x3C;/body&#x3E;

      section
        h2.bullet CSS
        p Also Known as Cascading Style Sheets
        img(src="/images/bob-ross.jpg", width="200px" alt="")
        ul
          li Changes colors of the site
          li Changes the letters on your sites
          li Changes small animations on your sites
          li makes the site look awesome!

      section
        h3 linking
        p We need to link an external css file to our site. type the code below in &#x3C;head&#x3E;
        pre
          code.language-javascript.
            link
        p and hit tab
        pre
          code.language-javascript(style="font-size: 60%").
            &#x3C;head&#x3E;
              &#x3C;meta name=&#x22;charset&#x22; content=&#x22;utf-8&#x22;&#x3E;
              &#x3C;link rel=&#x22;stylesheet&#x22; href=&#x22;style.css&#x22; media=&#x22;screen&#x22; title=&#x22;no title&#x22; charset=&#x22;utf-8&#x22;&#x3E;

      section
        h3 making a CSS file
        p In Atom first click <b>New File</b> Then <b>Save</b>
        img(src="/images/new-file.png", alt="")
        p Save with filename as <b>stye.css</b>

      section
        h3 How to style
        p our index.html has a &#x3C;body&#x3E;
        p In <b>style.css</b> we write:
        pre
          code.language-javascript.
            body {
              background: green
            }
      section
        h3 The result:
        img(src="/images/greenpage.png", alt="", width="200px")

      section
        h3 AWESOME!
        img(src="/images/haters.gif", alt="", width="250px")

      section
        h2 Thank you!
        img(src="/images/the-end.gif", alt="", width="100%")

    script(src='build/build.js')

